* {
	margin: 0;
	padding: 0;
}
body {
	padding-bottom: auto;
	background-color: white;
	height: auto;
	overflow: auto;
	text-align: center;
}

.navbar {
    background-color: rgba(255,255,255,255,0.5);
	backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link::before {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background-color: #ff7f00;
	margin-top: 2px;
	transition: width 0.3s ease;
  }
  
.navbar-nav .nav-link.active::before {
	width: 100%;
}
  
.html, body {
	height: auto;
	overflow: auto;
}

footer {
	color: #000000; 
	padding: 20px; 
	text-align: center;
}

footer p {
	margin: 10px;
}

.fkeluhan {
	margin-bottom: 0;
}

.container {
	display: flex;
	justify-content: center;
	min-height: 100hv;
	align-items: center;
	flex-direction: column;
}

.apartment {
	margin: 20px;
	width: 300px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

.apartment .description h2 a{
	text-decoration: none;
	color: inherit;
}

.apartment img {
	width: 100%;
	height: auto;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: transform 0.5s ease;
}

.apartment:hover img {
	transform: scale(1.1);
}

.description {
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.description h2 {
	margin-top: 0;
	font-size: 24px;
}

.description p {
	margin-bottom: 0;
	font-size: 16px;
}

.carousel-control-prev {
	border-color: blue;
}

.carousel-control-next {
	border-color: green;
}

.background-image {
	display: grid; 
	grid-template-columns: 1fr 1fr; gap: 20px;
}

.card-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

.card {
	position: relative;
	background:#fff;
	max-width: 300px;
	width: 300px;
	height: auto;
	margin: 25px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 20%) ;
	border-radius: 10px;
	overflow: hidden;
}

.card-image {
	max-height: 250px;
}

.card-image img {
	max-width: 100%;
	height: auto;
}

.card-info {
	position: relative;
	color: #222;
	padding: 10px 20px 20px;
}

.card-info h3 {

	font-size: 1.8em;
	font-weight: 800;
	margin-bottom: 5px;
}

.card-info p {
	font-size: 1em;
	margin-bottom: 5px;;
}

.card-info a {
	text-decoration: none;
	color: black;
}

.card-content-galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.card-galery {
    position: relative;
    background:#fff;
    max-width: 500px;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%) ;
    border-radius: 10px;
    overflow: hidden;
}

.card-image-galery {
    max-height: 450px;
}

.card-image-galery img {
    max-width: 100%;
    height: auto;
}

.card-info-galery {
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.card-info-galery h3 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.card-info-galery p {
    font-size: 1em;
    margin-bottom: 5px;;
}

.pagination {
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    background-color: #ccc; /* Warna latar belakang */
    border-radius: 5px;
}

.pagination li {
    display: inline-block;
    margin: 5px;
}

.pagination li a {
    padding: 8px 16px;
    background: #ccc; /* Warna latar belakang */
    color: #000; /* Warna teks */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transisi saat hover */
	border: 1px solid #000
}

.pagination li a:hover {
    background: #09a0bd; /* Warna latar belakang saat hover */
    color: #fff; /* Warna teks saat hover */
}

.pagination li.disable a {
    pointer-events: none; /* Menonaktifkan klik saat pagination dalam kondisi disable */
    background: #ccc;
    color: #000;
    cursor: not-allowed; /* Kursor not-allowed saat pagination disable */
}

.pagination li.dots a {
    background: none;
    pointer-events: none; /* Menonaktifkan klik pada pagination titik */
}

.whatsapp-chat {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: inline-block;

}
  
.whatsapp-chat-icon {
	position: relative;
	display: inline-block;
}
  
.whatsapp-chat-icon img {
	width: 70px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
}
  
.tooltip {
	visibility: hidden;
	width: 120px;
	background-color: green;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 20%;
	margin-left: -30px;
	transform: translateX(-50px);
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: green transparent transparent transparent;
}
  
.whatsapp-chat-icon:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

form {
    margin: 15px auto 50px; /* Mengatur margin atas dan bawah ke 15px, dan otomatis mengatur margin samping agar form berada di tengah */
    width: 500px;
    font-size: 16px;
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Mengatur arah konten menjadi vertikal */
    align-items: center; /* Mengatur konten agar berada di tengah secara horizontal */
    position: relative; /* Menjadikan posisi relatif agar dapat menggunakan posisi absolut untuk tombol */
}

form label {
    display: block;
    margin-bottom: 5px;
    width: 100%; /* Mengatur lebar label menjadi 100% untuk memastikan tampilan yang konsisten */
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
}

form button {
    background: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    position: absolute; /* Menggunakan posisi absolut */
    bottom: -40px; /* Menurunkan tombol 40px dari bawah */
    left: 50%; /* Mengatur posisi horizontal tombol ke tengah */
    transform: translateX(-50%); /* Menggeser tombol ke kiri sejauh 50% dari lebar tombol itu sendiri */
}

form button:hover {
    background: green;
}

.tagihan {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultContainer {
    margin-top: 20px;
}

.rules-container {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.rule {
	margin: 10px auto;
	align-items: center;
}

.rule img {
	width: 100%;
	max-width: 800px;
	display: block;
	border-radius: 10px;
}